*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex{
  display: flex;
}

main{
  background-color: black;
  height: calc(100vh - 100px);
  overflow: auto;
}

.container{
  width: 95%;
  max-width: 1814px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.window{
  width: 240px;
  height: 165px;
  position: relative;
  margin: 3px 3px;
}

.name{
  background-color: rgba(128, 128, 128, 0.304);
  padding: 3px 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer{
  background-color: #222222;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

footer i:hover{
  color: green;
}

.audio-video{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.audio-video div{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions div{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end{
  height: 100%;
  background-color: rgb(17, 16, 16);
  display: flex;

}
.end button{
  padding: 10px 30px;
  color: red;
}

.flex.active{
  color: green;
}